<div class="ui-card">
  <h4 class="ui-label"><i class="bi bi-bicycle"></i> Selecciona bicicleta(s)</h4>

  <ul class="ui-list">
    <li *ngFor="let bici of bicicletas"
        class="ui-list-item"
        (click)="toggleSeleccion(bici)"
        [class.is-selected]="seleccion.has(bici.id)">
      <div>
        <div class="font-medium">{{ bici.modelo }} {{ bici.numero}}</div>

        <div class="text-gray-600 italic">{{ bici.tipo }}</div>
      </div>

      <span class="font-semibold">
        {{ bici.precioDia | currency:'EUR' }}
      </span>
    </li>
  </ul>
</div>
